/*----------------------------------------------------- Navbar -----*/

.navbar {
    background-color: rgba(17, 60, 243, .75);
}

.navbar > a {
    font-size: 30px;
}

.navbar ul li a {
    font-size: 18px;
    padding: 0 8px;
    margin: 8px;
}

.navbar a {
    color: #BEEE62;
    font-family: "Architects Daughter", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}

.active {
    border-bottom: 5px solid #BEEE62;
}

.nav-item a:hover {
    border-bottom: 5px solid #BEEE62;
}

/*----------------------------------------------------- Hero Image Section -----*/

.hero-image { 
    height: 90vh;
    background: url(../images/hero_img1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
}

.hero-text {
    color: #BEEE62;
    text-align: center;
    font-family: "Architects Daughter", sans-serif;
    letter-spacing: 3px;
}

.hero-text h1 {
    font-size: 30px;
    font-weight: 700;
}

.hero-text h3 {
    font-size: 18px;
    font-weight: 700;
}

/*----------------------------------------------------- About Us Section -----*/

.about-us {
    background-color: #BEEE62;
}

.about-us h2 {
    color: #113CF3;
    font-family: "Architects Daughter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
    padding: 40px;
}

.about-us h3 {
    color: #113CF3;
    font-family: "Architects Daughter", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
    padding: 10px;
}

.about-us i {
    color: #113CF3;
    font-size: 18px;
    font-weight: 700;
    display: block;
    text-align: center;
}

.about-us p {
    color: #000;
    font-family: "Chicle", sans-serif;
    font-size: 14px;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    padding: 0 40px 40px 40px;
}

/*----------------------------------------------------- Sizing -----*/

.row {
    margin: 0;
}